.title {
  font-family: Montserrat;
  font-size: 40px;
  font-weight: 500;
  color: #589dba;
  text-align: center;
  margin-bottom: 30px;
}
.subTitle {
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 500;
  color: #589dba;
  text-align: center;
  margin: 30px 0;
}
