.listLink{
    display: flex;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    color: #7a7a7a;
    margin-bottom: 20px;
}
.link{
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    color: #7a7a7a;
    margin-right: 5px;
    margin-left: 5px;
}