.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 125px;
  padding: 0 75px;
  color: black;
}
.navWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navigation {
  font-size: 16px;
  font-family: Montserrat, sans-serif;
  font-weight: 300;
  padding: 15px 20px;
  margin-right: 20px;
  transition: transform !important;
  transition-duration: 0.5s !important;
}
.navigation:hover {
  transform: translateY(-20%);
}
.cartNumber {
  position: absolute;
  background-color: #d9534f;
  color: white;
  border-radius: 100%;
  font-size: 15px;
  height: 20px;
  width: 20px;
  /* padding: 5px; */
  text-align: center;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
}
.cartText {
  padding: 10px;
  width: auto;
  height: auto;
}
