@value min-width-desktop from '../../styles/variables.module.css';

.titleContacts {
  font-family: Montserrat;
  font-size: 40px;
  font-weight: 500;
  line-height: 120%;
  text-align: center;
  color: #54595f;
  margin-bottom: 70px;
}

.contactsList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contactsItem {
  width: 50%;
  text-align: center;
}
.contactsItem:not(:last-child) {
  margin-bottom: 30px;
}
.subTitle {
  font-family: Montserrat;
  font-size: 40px;
  font-weight: 700;
  line-height: 120%;
  text-align: center;
  color: #e96c62;
  padding: 10px;
}
.text {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 120%;
  color: #7a7a7a;
}
.icon{
    transition: transform !important;
    transition-duration: 0.5s !important;
}
.icon:hover{
   transform: translateY(-20%);
}

@media (min-width: min-width-desktop) {
  .contactsList {
    flex-direction: row;
  }
  .contactsItem:not(:last-child) {
    margin-bottom: 0px;
  }
}
